<?xml version="1.0" encoding="UTF-8"?>

<!-- MyBatis설정 파일임을 명시하기 위한 DTD 선언문 (반드시 작성한다.)  -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	

<configuration>

	<!-- Camel Case, Snake Case로 설계된 경우 Mybatis Mapper에서 resultMap을 사용하지 않아도 자바변수와 컬럼명을 매치해준다. -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>


	<!-- 
	
		- 코드의 길이가 길어질 경우 mybatis-config 파일에 <typeAlias>태그로 alias(별명,별칭)을 지정하여 간편하게 사용할 수 있다.
	
	    예시)
		<typeAliases>
			<typeAlias type="com.spring.dto.MemberDto"  alias="MemberDto" />
			<typeAlias type="com.spring.dto.ProductDto" alias="ProductDto"/>
			<typeAlias type="com.spring.dto.MessageDto" alias="MessageDto"/>
		</typeAliases>
		
	 -->

	<typeAliases>
		<typeAlias type="com.spring.mvc.dataTransfer.dto.ProductDto" alias="ProductDto"/>
		<typeAlias type="com.spring.mvc.dataTransfer.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.spring.mvc.dataTransfer.dto.OrderDto" alias="OrderDto"/>
	</typeAliases>
	



</configuration>

